@import url('https://https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root{
	--color-light-50: #f8fafc;

	--color-dark-50: #7974;
	--color-dark-100: #312b37;
	--color-dark-900: #000;

	--color-purple-10: #4d2277;
	--color-purple-50: #7c3aed;
	--color-purple-100: #a855f7;
	--color-purple-200: #bf46ef;	

	--color-gradient: linear-gradient(90deg, var(--color-purple-50),var(--color-purple-100),var(--color-purple-200));
}

#container{
	height: 100vh;
	width: 100%;
	background: var(--color-gradient);
	display: flex;
	align-items: center;
	justify-content: center;
}

#login-form{
	background-color: var(--color-light-50);
	display: flex;
	flex-direction: column;
	padding: 30px 40px;
	gap: 30px;
	border-radius: 8px;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
	animation: dark-to-light 0.3 ease-in-out;
}

#social_media img{
	width: 35px;
	transition: 300ms;
	opacity: 80%;
}

#social_media img:hover{
	transform: scale(1.2);
	opacity: 100%;
}

#social_media{
	display: flex;
	justify-content: space-around;
}

#form_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#form_header h1{
	font-size: 40px;
	position: relative;
	transition: 500ms;

}

#form_header h1:hover{
	transform: scale(1.2);
}

#form_header h1::before{
	position: absolute;
	background-color: var(--color-purple-50);
	content: '';
	width: 40px;
	height: 3px;
	bottom: 5px;
	border-radius: 5px;
}

#mode_icon{
		cursor: pointer;
		font-size: 20px;
		transition: 300ms;
		opacity: 80%;
}

#mode_icon:hover{
	transform: scale(1.2);
	opacity: 100%	;
}

#inputs{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.inputs_box{
	font-size: 14px;
	background-color: var(--color-dark-50);	
}

.input-field{
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 3px;
	cursor: text;
	border-bottom: 1px solid var(--color-purple-50);
}

.input-field i{
	font-size: 18px;
	color: var(--color-purple-10);
}

.input-field input{
	border: none;
	background-color: transparent;
	width: 210px;
	font-size: 18px;
	padding: 5px 5px;
}

.input-field input:focus{
	outline: none;
}

#forgot-password{
	text-decoration: none;
	font-size: 12px;
	color: var(--color-dark-50);
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#forgot-password:hover{
	color: var(--color-purple-50);
}

#login-button{
	border: none;
	border-radius: 8px;
	background: var(--color-gradient);
	color: var(--color-light-50);
	padding: 7px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: 500ms;
	opacity: 90%;
}

#login-button:hover{
	transform: scale(1.2);
	opacity: 100%;
}

#button{
	text-decoration: none;
	color: var(--color-light-50);
}

.dark#login-form{
	color: var(--color-light-50);
	background-color: var(--color-dark-100);
	animation: light-to-dark 0.3 ease-in-out;

}

.dark#login-form .input-field input,
.dark#login-form .input-field i{
	color: var(--color-light-50);
}

@keyframes dark-to-light{
	0%{
		background-color: var(--color-dark-100);
	}

	100%{
		background-color: var(--color-light-50);
	}
}

@keyframes light-to-dark{
	0%{
		background-color: var(--color-light-50);
	}

	100%{
		background-color: var(--color-dark-100);
	}
}